<div style="background-color: #1cb37a; color: #0e241d; border-radius: 0.2rem; padding: 10px; width: 90%; font-size: 16px;">
  <h1>How work with database in python + mysql</h1>
  <p>With: Jat Kishan</p>
</div>

In [7]:
import os

import pandas as pd
import pymysql
from dotenv import load_dotenv

load_dotenv()

MYSQL_PASSWORD = os.getenv("MYSQL_PASSWORD")

<div style="background-color: #1cb37a; color: #0e241d; border-radius: 0.2rem; padding: 10px; width: 90%; font-size: 16px;">Creating database for student that contain review table in future</div>

In [9]:
mydb = pymysql.connect(host="localhost", user="root", password=MYSQL_PASSWORD)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE IF NOT EXISTS student")

1

<div style="background-color: #1cb37a; color: #0e241d; border-radius: 0.2rem; padding: 10px; width: 90%; font-size: 16px;">Connecting to the mysql server. It can be located as local server or on cloud server. Here, we using mysql as local server</div>

In [10]:
mydb = pymysql.connect(
    host="localhost", user="root", password="Teto270+0", database="student"
)
mycursor = mydb.cursor()

<div style="background-color: #1cb37a; color: #0e241d; border-radius: 0.2rem; padding: 10px; width: 90%; font-size: 16px;">Creating review table for student review on books</div>

In [11]:

mycursor.execute("DROP TABLE IF EXISTS review")

create_table = """
    CREATE TABLE IF NOT EXISTS review(
        id INT PRIMARY KEY AUTO_INCREMENT,
        name varchar(50),
        email varchar(50),
        book varchar(100),
        message varchar(255)
    )
"""

mycursor.execute(create_table)

0

<div style="background-color: #1cb37a; color: #0e241d; border-radius: 0.2rem; padding: 10px; width: 90%; font-size: 16px;">Insert 12 data to the review with popular books in ML and computer science</div>

In [12]:
book_reviews = [
    (
        "Alice",
        "alice@example.com",
        "Deep Learning",
        "A comprehensive guide to machine learning and neural networks.",
    ),
    (
        "Bob",
        "bob@example.com",
        "Artificial Intelligence: A Modern Approach",
        "An essential read for anyone interested in AI.",
    ),
    (
        "Charlie",
        "charlie@example.com",
        "Pattern Recognition and Machine Learning",
        "In-depth coverage of statistical pattern recognition techniques.",
    ),
    (
        "David",
        "david@example.com",
        "The Elements of Statistical Learning",
        "A must-have book for understanding statistical learning methods.",
    ),
    (
        "Eve",
        "eve@example.com",
        "Machine Learning: A Probabilistic Perspective",
        "Great insights into the probabilistic approach to machine learning.",
    ),
    (
        "Frank",
        "frank@example.com",
        "Computer Vision: Algorithms and Applications",
        "A detailed exploration of computer vision and its practical applications.",
    ),
    (
        "Grace",
        "grace@example.com",
        "Reinforcement Learning: An Introduction",
        "An excellent introduction to reinforcement learning and its algorithms.",
    ),
    (
        "Heidi",
        "heidi@example.com",
        "Natural Language Processing with Python",
        "A practical guide to NLP using Python and its libraries.",
    ),
    (
        "Ivan",
        "ivan@example.com",
        "Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow",
        "A practical approach to machine learning with real-world examples.",
    ),
    (
        "Judy",
        "judy@example.com",
        "Data Mining: Concepts and Techniques",
        "An insightful book into the concepts of data mining and its techniques.",
    ),
    (
        "Mallory",
        "mallory@example.com",
        "Introduction to the Theory of Computation",
        "A fundamental book for understanding computational theory.",
    ),
    (
        "Niaj",
        "niaj@example.com",
        "Computer Networking: A Top-Down Approach",
        "A thorough exploration of computer networking principles.",
    ),
]

insert_query = """
    INSERT INTO review (name, email, book, message)
    VALUES (%s, %s, %s, %s)
"""

mycursor.executemany(insert_query, book_reviews)
mydb.commit()

<div style="background-color: #1cb37a; color: #0e241d; border-radius: 0.2rem; padding: 10px; width: 90%; font-size: 16px;">Using 'pandas' for showing that selected data from review table, for easy to showcase</div>

In [13]:
df = pd.read_sql_query("SELECT * FROM review", mydb)
df

/tmp/ipykernel_10392/890830228.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM review", mydb)

,id,name,email,book,message
0,1,Alice,alice@example.com,Deep Learning,A comprehensive guide to machine learning and ...
1,2,Bob,bob@example.com,Artificial Intelligence: A Modern Approach,An essential read for anyone interested in AI.
2,3,Charlie,charlie@example.com,Pattern Recognition and Machine Learning,In-depth coverage of statistical pattern recog...
3,4,David,david@example.com,The Elements of Statistical Learning,A must-have book for understanding statistical...
4,5,Eve,eve@example.com,Machine Learning: A Probabilistic Perspective,Great insights into the probabilistic approach...
5,6,Frank,frank@example.com,Computer Vision: Algorithms and Applications,A detailed exploration of computer vision and ...
6,7,Grace,grace@example.com,Reinforcement Learning: An Introduction,An excellent introduction to reinforcement lea...
7,8,Heidi,heidi@example.com,Natural Language Processing with Python,A practical guide to NLP using Python and its ...
8,9,Ivan,ivan@example.com,"Hands-On Machine Learning with Scikit-Learn, K...",A practical approach to machine learning with ...
9,10,Judy,judy@example.com,Data Mining: Concepts and Techniques,An insightful book into the concepts of data m...
10,11,Mallory,mallory@example.com,Introduction to the Theory of Computation,A fundamental book for understanding computati...
11,12,Niaj,niaj@example.com,Computer Networking: A Top-Down Approach,A thorough exploration of computer networking ...

<div style="background-color: #1cb37a; color: #0e241d; border-radius: 0.2rem; padding: 10px; width: 90%; font-size: 16px;">Showing data by id</div>

In [14]:
def select_bookreview(id: int) -> bool:
    df = pd.read_sql_query(f"SELECT * FROM review WHERE id={id}", mydb)
    print(df)
    return True if len(df) == 1 else False

In [15]:
select_bookreview(id=2)

   id name            email                                        book  \
0   2  Bob  bob@example.com  Artificial Intelligence: A Modern Approach

                                          message
0  An essential read for anyone interested in AI.

/tmp/ipykernel_10392/3376080451.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f"SELECT * FROM review WHERE id={id}", mydb)

True

<div style="background-color: #1cb37a; color: #0e241d; border-radius: 0.2rem; padding: 10px; width: 90%; font-size: 16px;">Updating book and message in book review</div>

In [16]:
def update_bookreview(id: int) -> None:
    if not select_bookreview(id):
        print(f"id: {id}, not any record")
        return

    book = input("Book (empty for no change): ")
    message = input("Message (empty for no change): ")

    book_update = f"book='{book}'," if book else None
    message_update = f"message='{message}'" if message else None
    if book_update or message_update:
        update = f"UPDATE review SET {book_update} {message_update} WHERE id={id}"
        mycursor.execute(update)

In [17]:
update_bookreview(id=2)

/tmp/ipykernel_10392/3376080451.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f"SELECT * FROM review WHERE id={id}", mydb)

   id name            email                                        book  \
0   2  Bob  bob@example.com  Artificial Intelligence: A Modern Approach

                                          message
0  An essential read for anyone interested in AI.

<div style="background-color: #1cb37a; color: #0e241d; border-radius: 0.2rem; padding: 10px; width: 90%; font-size: 16px;">Deleting book review</div>

In [18]:
def delete_bookreview(id: int) -> None:
    if not select_bookreview(id):
        print(f"id: {id}, not any record")
        return
    conform = input("you wont to delete (y/n):")
    if conform == "y":
        delete = f"DELETE FROM review WHERE id={id}"
        mycursor.execute(delete)

In [19]:
delete_bookreview(id=2)

/tmp/ipykernel_10392/3376080451.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(f"SELECT * FROM review WHERE id={id}", mydb)

   id name            email                 book                      message
0   2  Bob  bob@example.com  AI: Modern Approach  for anyone interested in AI

<div style="background-color: #1cb37a; color: #0e241d; border-radius: 0.2rem; padding: 10px; width: 90%; font-size: 16px;">Searching by book name</div>

In [20]:
def search_book_like(book: str) -> bool:
    query = f"SELECT * FROM review WHERE book LIKE '%{book}%'"
    df = pd.read_sql_query(query, mydb)
    print(df)
    return not df.empty

In [21]:
search_book_like("Learning")

   id     name                email  \
0   1    Alice    alice@example.com
1   3  Charlie  charlie@example.com
2   4    David    david@example.com
3   5      Eve      eve@example.com
4   7    Grace    grace@example.com
5   9     Ivan     ivan@example.com

                                                book  \
0                                      Deep Learning
1           Pattern Recognition and Machine Learning
2               The Elements of Statistical Learning
3      Machine Learning: A Probabilistic Perspective
4            Reinforcement Learning: An Introduction
5  Hands-On Machine Learning with Scikit-Learn, K...

                                             message
0  A comprehensive guide to machine learning and ...
1  In-depth coverage of statistical pattern recog...
2  A must-have book for understanding statistical...
3  Great insights into the probabilistic approach...
4  An excellent introduction to reinforcement lea...
5  A practical approach to machine learning with ...

/tmp/ipykernel_10392/4129641303.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query, mydb)

True